<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Account homepage. 
    <br>
    Currently logged in as <%= locals.username %>
    <div>
        Here's a list of files you've uploaded:
        <br>
        <%= locals.fileNames %>
    </div>
</body>
</html>