<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        File details:
    </div>
    <ul>
        <li>Download link: <a href="<%= locals.fileLink %>"><%= locals.fileLink %> </a></li>
        <li>File name: <%= locals.fileName %></li>
        <li>Download count: <%= locals.downloadCount %></li>
    </ul>

    <div>
        <a href="/acc/home"> Return home</a>
    </div>
</body>
</html>