<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        File details:
    </div>
    <ul>
        <li><%= locals.fileLink %></li>
        <li><%= locals.fileName %></li>
        <li><%= locals.downloadCount %></li>
    </ul>
</body>
</html>