<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self';">
    <title>Document</title>
</head>
<body>
    <% if (locals.error) { %>
        <div>
            Incorrect password. Try again.
        </div>
    <% } %>
    <form method="post"> <!--no action so that by default it sends back to the page we were already on-->

        <label for="inputPassword">Provide password:</label>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="password", name="password"> <!-- Optional password, file doesn't need to be protected -->

        <button type="submit">Download</button>
    </form>
</body>
</html>