<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (locals.msg) { %>
        <div>
            <%= locals.msg %>
        </div>
    <% } %>
    <form method="post"> <!--no action so that by default it sends back to the page we were already on-->

        <!-- Here's the csurf anti-CSRF token -->

        <label for="username">Username:</label>
        <input type="username", name="username">
        <br>

        <label for="password">Password:</label>
        <input type="password", name="password">
        <br>

        <label for="email">Email:</label>
        <input type="email", name="email">
        <br>

        <button type="submit">Register now</button>
    </form>
</body>
</html>


